<div id="footer-container">
  <hr class="hr-sections">
  <div class="row">
    <div class="col-s-4">
      <h3 class="center-tx foot-main-dats"><i class="fas fa-phone"></i> 2 89 99 99</h3>
      <h3 class="foot-sec-dats">Atendemos en horario de oficina.</h3>
    </div>
    <div class="col-s-4">
      <h3 class="center-tx foot-main-dats"><i class="fas fa-envelope"></i> ocotlan.puebla@gmail.com</h3>
      <h3 class="foot-sec-dats">Escríbenos a nuestro correo.</h3>
    </div>
    <div class="col-s-4">
      <h3 class="center-tx foot-main-dats"><i class="fab fa-whatsapp"></i> 22 22 22 22 22</h3>
      <h3 class="foot-sec-dats">Éxito</h3>
    </div>
  </div>
  <hr class="hr-sections">
  <div class="row">
    <div class="col-s-6">
      <h3 class="center-tx">© 2019 Comite de Aguo Potable de Sn. Fco. Ocotlán</h3>
    </div>
    <div class="col-s-6">
      <h3 class="center-tx">Aviso de privacidad</h3>
    </div>
  </div>
  <hr class="hr-sections">
  <div class="row">
    <div class="col-s-12">
      <h3 class="center-tx grey-tx">Sitio creado por <%= link_to "Sitios Web Mx", "http://www.sitioswebmx.com/", target: "_blank", style:"color:white;" %> </h3>
    </div>
  </div>
  <hr class="hr-sections">
</div>
<hr class="hr-sections">
